---
version: 2.1
jobs:
  dependencies:
    docker:
      - image: cimg/node:18.14.0
    working_directory: ~/anakin
    steps:
      - checkout
      - run:
          name: Install Yarn
          command: |
            curl -o- -L https://yarnpkg.com/install.sh | bash
            yarn set version 3.6.1
      - restore_cache:
          keys:
            - yarn-packages-v1-{{ .Branch }}-{{ checksum "yarn.lock" }}
            - yarn-packages-v1-{{ .Branch }}
            - yarn-packages-v1
      - run:
          name: Install Dependencies
          command: |
            yarn install --immutable
      - save_cache:
          name: Save Yarn Package Cache
          key: yarn-packages-v1-{{ .Branch }}-{{ checksum "yarn.lock" }}
          paths:
            - ./.yarn/cache
      - save_cache:
          key: v1-repo-{{ .Branch }}-{{ .Environment.CIRCLE_SHA1 }}
          paths:
            - ~/anakin
  format:
    docker:
      - image: cimg/node:18.14.0
    working_directory: ~/anakin
    steps:
      - restore_cache:
          key: v1-repo-{{ .Branch }}-{{ .Environment.CIRCLE_SHA1 }}
      - restore_cache:
          key: yarn-packages-v1-{{ .Branch }}-{{ checksum "yarn.lock" }}
      - run:
          name: Format
          command: |
            yarn prettier --list-different src/**/*.{ts,tsx} content/blog/**/index.md
  type-check:
    docker:
      - image: cimg/node:18.14.0
    working_directory: ~/anakin
    steps:
      - restore_cache:
          key: v1-repo-{{ .Branch }}-{{ .Environment.CIRCLE_SHA1 }}
      - restore_cache:
          key: yarn-packages-v1-{{ .Branch }}-{{ checksum "yarn.lock" }}
      - run:
          name: Type Check
          command: |
            yarn type-check
  build:
    docker:
      - image: cimg/node:18.14.0
    working_directory: ~/anakin
    resource_class: large
    steps:
      - restore_cache:
          key: v1-repo-{{ .Branch }}-{{ .Environment.CIRCLE_SHA1 }}
      - restore_cache:
          key: yarn-packages-v1-{{ .Branch }}-{{ checksum "yarn.lock" }}
      - run:
          name: Build
          command: |
            yarn run build
      - persist_to_workspace:
          root: .
          paths:
            - .
  deploy:
    docker:
      - image: cimg/node:18.14.0
    working_directory: ~/anakin
    steps:
      - attach_workspace:
          at: .
      - run:
          name: Deploy
          command: |
            yarn run deploy
workflows:
  version: 2.1
  build_and_deploy:
    jobs:
      - dependencies
      - build:
          requires:
            - dependencies
      - format:
          requires:
            - dependencies
      - deploy:
          requires:
            - build
            - format
          filters:
            branches:
              only:
                - main
